# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.GameServer.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\meanx\RiderProjects\GameServer\.idea\.idea.GameServer\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
